.carousel-item img {
    height: 450px;      
    object-fit: cover;  
}

body {
    background-color: #f7f7f7;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    font-size: 18px;
}

.carousel-item img {
    height: 430px;
    object-fit: cover;
}

h2 {
    font-weight: bold;
    color: #1b5e20; 
}

.card {
    border: none; 
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
}

.card-body {
    padding: 20px;
}

.card-img-top {
    height: 220px;
    object-fit: cover;
}

.card-title {
    color: #1b5e20;
    font-weight: bold;
}

#contacto label {
    font-weight: 600;
}

form input, 
form select, 
form textarea {
    border-radius: 5px;
}

footer {
    margin-top: 60px;
    font-size: 15px;
}